extends ../layout

block css
  link(rel='stylesheet', href='/stylesheets/less/error/error.css')
  link(rel='stylesheet', href='/stylesheets/less/search/search.css')
  style.
    #bs-example-navbar-collapse-1 a{
      font-family:arial;
    }

block nav
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
      span.sr-only toogle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') Secretaría de salud
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-cogs
          |   Operaciones
          b.caret
        ul.dropdown-menu
          li
            a(href="/medicos")
              i.fa.fa-floppy-o
              |  Guardar médico
          li.active
            a()
              i.fa.fa-search
              |  Buscar médico
          li
            a(href="/medicos/listado/estados")
              i.fa.fa-list
              |  Lista en estudio
      li#session_Close
        a(href="#") 
          i.fa.fa-sign-out
          |  Cerrar sesión

block content
  .container.general
    .row
      .col-md-10.col-md-offset-2
        p.text-search
          i.fa.fa-search
          |  Ingrese número de identificación del médico 
          form.form-inline(role="form" method="post" action="/medicos/busqueda")
            .col-sm-10
              input.form-control(type="text" id="identificacion" name="identificacion" placeholder="Busqueda rápida")
            input.btn.btn-primary(type="submit" id="buscar" value="Buscar")
          br
          if (error=='1')
            .alert.alert-warning#alert-ident
                p El número de identificación no está registrado,  o esta errado



block js
  script.
    $(document).on('ready', function(){
        $('#session_Close').on('click', function(e){
          e.preventDefault();
            $.ajax({
              url:"/session/admin",
              method:"delete",
              success: function(data){
                if(data=="OK"){
                  window.location.href = '/';
                }
              }
            });
        });
    });